/*
font-family: 'Open Sans', Arial, sans-serif;
font-family: 'PT Sans', Arial, sans-serif;
*/
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.page__body {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
}
.wrap {
  white-space: nowrap;
}
.wrapper {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  min-height: 78px;
}
@media (min-width: 768px) {
  .wrapper {
    width: 668px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    width: 1050px;
  }
}
.header {
  background-color: #ffffff;
}
.header__nav {
  display: flex;
  flex-direction: column;
}
.header__logo {
  height: 79px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  padding: 21px 0px 22px 0px;
  box-sizing: border-box;
  position: relative;
}
.header__logo-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 86px;
  height: 35px;
  background: rgba(255, 0, 0, 0.3);
  font-size: 0;
}
.header__sandwich-icon {
  display: block;
  width: 20px;
  height: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: 110px;
  font-size: 0px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header__sandwich-icon::before,
.header__sandwich-icon::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #000000;
}
.header__sandwich-icon::before {
  top: 0px;
  box-shadow: 0px 6px 0px 0px #000000;
}
.header__sandwich-icon::after {
  bottom: 0px;
}
.header__sandwich-icon:active {
  height: 20px;
}
.header__sandwich-icon:active::before,
.header__sandwich-icon:active::after {
  width: 26px;
  left: -3px;
  top: 9px;
}
.header__sandwich-icon:active::before {
  box-shadow: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header__sandwich-icon:active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header__main-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.header__main-list--hidden {
  display: none;
}
.header__main-item {
  height: 79px;
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__main-link {
  position: relative;
  min-width: 260px;
  padding-left: 45px;
  box-sizing: border-box;
  display: block;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  font-weight: 800;
}
.header__main-link:hover,
.header__main-link:focus {
  color: rgba(0, 0, 0, 0.6);
}
.header__main-link:active {
  color: rgba(0, 0, 0, 0.3);
}
.header__user-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
}
.header__user-list--hidden {
  display: none;
}
.header__user-item {
  position: relative;
  height: 79px;
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__user-item--search .header__user-link::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 2px;
  width: 18px;
  height: 18px;
  background: rgba(255, 0, 0, 0.3);
}
.header__user-item--basket .header__user-link::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 2px;
  width: 21px;
  height: 18px;
  background: rgba(0, 255, 0, 0.3);
}
.header__user-link {
  position: relative;
  min-width: 260px;
  padding-left: 45px;
  box-sizing: border-box;
  display: block;
  color: #000000;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  font-weight: 800;
}
.header__user-link:hover,
.header__user-link:focus {
  color: rgba(0, 0, 0, 0.6);
}
.header__user-link:active {
  color: rgba(0, 0, 0, 0.3);
}
.header__ad-list {
  display: none;
}
.header__delivery {
  display: none;
}
@media (min-width: 768px) {
  .header {
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 88px, #e7e7e7 88px, #e7e7e7 89px, #f9f9f9 89px);
  }
  .header__nav {
    flex-direction: row;
    width: 668px;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .header__logo {
    width: 167px;
    height: 88px;
    border: none;
    padding: 22px 0px 20px 0px;
  }
  .header__logo-image {
    margin: 0;
    width: 113px;
    height: 46px;
    background: rgba(0, 255, 0, 0.3);
  }
  .header__sandwich-icon {
    display: none;
  }
  .header__main-list {
    width: 430px;
    order: 2;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .header__main-list--hidden {
    display: flex;
  }
  .header__main-item {
    margin-right: 37px;
    height: 60px;
    border-bottom: none;
  }
  .header__main-link {
    padding-left: 0px;
    min-width: 131px;
    font-size: 15px;
    line-height: 24px;
  }
  .header__user-list {
    order: 1;
    flex-direction: row;
  }
  .header__user-list--hidden {
    display: flex;
  }
  .header__user-item {
    border-bottom: none;
    border-left: 1px solid #ececec;
    height: 88px;
  }
  .header__user-item--search .header__user-link {
    font-size: 0px;
  }
  .header__user-item--search .header__user-link::before {
    left: 33px;
  }
  .header__user-item--basket .header__user-link {
    padding-left: 84px;
  }
  .header__user-item--basket .header__user-link::before {
    left: 33px;
  }
  .header__user-link {
    padding-left: 33px;
    min-width: 81px;
  }
  .header__delivery {
    order: 3;
    display: block;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .header__delivery-text {
    color: #444444;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }
}
@media (min-width: 1200px) {
  .header__nav {
    width: 1050px;
  }
  .header__logo {
    width: 149px;
    order: 2;
    padding: 9px 0px 7px 0px;
  }
  .header__logo-image {
    width: 149px;
    height: 72px;
    background: rgba(0, 0, 255, 0.3);
  }
  .header__main-list {
    width: 450px;
    order: 1;
  }
  .header__main-item {
    padding-right: 35px;
    height: 88px;
    border-right: 1px solid #ececec;
  }
  .header__main-item:nth-child(2n) {
    border: none;
  }
  .header__main-link {
    font-size: 17px;
  }
  .header__user-list {
    width: 450px;
    order: 3;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
  .header__user-item--search .header__user-link {
    font-size: 0px;
  }
  .header__user-item--search .header__user-link::before {
    left: 31px;
  }
  .header__user-item--basket .header__user-link {
    padding-left: 84px;
  }
  .header__user-item--basket .header__user-link::before {
    left: 30px;
  }
  .header__user-link {
    padding-left: 33px;
    min-width: 82px;
  }
  .header__ad-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    order: 4;
    height: 60px;
    align-items: center;
  }
  .header__ad-item {
    margin-right: 60px;
  }
  .header__ad-link {
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    font-weight: 800;
  }
  .header__ad-link:hover,
  .header__ad-link:focus {
    color: rgba(0, 0, 0, 0.6);
  }
  .header__ad-link:active {
    color: rgba(0, 0, 0, 0.3);
  }
  .header__delivery {
    order: 5;
  }
}
.content__house {
  background-color: #f9f9f9;
}
.content__good-of-week {
  background-color: #ffffff;
}
.content__about-us {
  background-color: #ffffff;
}
.content__reviews {
  background-color: #ffffff;
}
.house {
  padding: 0;
  background-color: #f9f9f9;
  background-image: url(../../img/home-background.jpg);
  background-repeat: no-repeat;
  background-position: center -18px;
  min-height: 478px;
  background-size: 575px;
  display: flex;
  flex-direction: column;
}
.house__header {
  width: 260px;
  margin: 70px auto 0px auto;
  padding: 0 25px;
  text-align: center;
  font-size: 27px;
  line-height: 30px;
}
.house__list {
  margin: 0;
  margin-top: 123px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.house__item {
  height: 103px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.house__item--interior {
  background-color: #63d1bb;
}
.house__item--toys {
  background-color: #56c3b2;
}
.house__item--interior .house__link::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 6px;
  width: 40px;
  height: 62px;
  background: rgba(255, 0, 255, 0.3);
}
.house__item--toys .house__link::before {
  content: "";
  position: absolute;
  top: -6px;
  right: -4px;
  width: 60px;
  height: 60px;
  background: rgba(0, 255, 0, 0.3);
}
.house__link {
  padding: 0px 130px 0px 0px;
  box-sizing: border-box;
  width: 260px;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  text-decoration: none;
  font-weight: 800;
  position: relative;
}
@media (min-width: 768px) {
  .house {
    min-height: 685px;
    background-size: 1150px;
    background-position: center -60px;
  }
  .house__header {
    margin-top: 93px;
    width: 668px;
    font-size: 43px;
    line-height: 50px;
  }
  .house__header .wrap {
    white-space: normal;
  }
  .house__list {
    width: 668px;
    margin: 374px auto 0 auto;
    flex-direction: row;
  }
  .house__item {
    height: 118px;
  }
  .house__item:hover {
    height: calc(118px + 5px);
    margin-top: -5px;
  }
  .house__item--interior .house__link::before {
    top: 2px;
    right: 36px;
  }
  .house__item--toys .house__link::before {
    top: 2px;
    right: 34px;
  }
  .house__link {
    padding: 0px 167px 0px 36px;
    width: 334px;
    font-size: 20px;
    line-height: 30px;
  }
}
@media (min-width: 1200px) {
  .house__header {
    font-size: 53px;
    line-height: 57px;
  }
  .house__list {
    margin: 361px auto 0 auto;
    width: 1050px;
  }
  .house__link {
    padding: 0px 350px 0px 36px;
    width: 525px;
    font-size: 20px;
    line-height: 30px;
  }
}
.goods-of-week {
  position: relative;
  width: 260px;
  margin: 0 auto 36px auto;
  display: flex;
  flex-direction: column;
}
.goods-of-week__header-block {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
}
.goods-of-week__header {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 800;
}
.goods-of-week__label {
  margin-top: 5px;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: #63d1bb;
}
.goods-of-week__text-about {
  margin: 0;
  margin-top: 23px;
  font-size: 15px;
  line-height: 24px;
}
.goods-of-week__table-spec {
  margin-top: 17px;
  margin-left: -1px;
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
  font-weight: 400;
}
.goods-of-week__table-line {
  border-bottom: 1px solid #ececec;
  height: 40px;
  vertical-align: middle;
}
.goods-of-week__table-label {
  width: 95px;
}
.goods-of-week__price {
  margin: 0;
  margin-top: 342px;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  min-height: 75px;
  padding: 25px 0;
  box-sizing: border-box;
  font-weight: 800;
}
.goods-of-week__image {
  z-index: 2;
  position: absolute;
  width: 260px;
  height: 315px;
  bottom: 124px;
  background: rgba(255, 0, 255, 0.1);
}
@media (min-width: 768px) {
  .goods-of-week {
    width: 668px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 53px;
  }
  .goods-of-week__header-block {
    margin-top: 45px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .goods-of-week__header {
    width: 500px;
    margin-left: -3px;
    font-size: 43px;
    line-height: 50px;
  }
  .goods-of-week__label {
    margin-top: 8px;
    width: 126px;
    text-align: center;
    line-height: 17px;
  }
  .goods-of-week__desc-block {
    box-sizing: border-box;
    padding-right: 44px;
    margin-top: 26px;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .goods-of-week__text-about {
    font-size: 17px;
    line-height: 30px;
  }
  .goods-of-week__table-spec {
    margin-top: 35px;
  }
  .goods-of-week__image {
    margin-top: 58px;
    position: relative;
    bottom: auto;
    width: 50%;
    height: 403px;
  }
  .goods-of-week__price {
    margin-top: auto;
    font-size: 20px;
    line-height: 24px;
    min-height: 83px;
  }
}
@media (min-width: 1200px) {
  .goods-of-week {
    width: 1050px;
  }
  .goods-of-week__header-block {
    position: absolute;
    width: 100%;
    top: 78px;
    flex-direction: row-reverse;
    margin-left: -5px;
  }
  .goods-of-week__header {
    width: 875px;
    font-size: 53px;
    line-height: 57px;
  }
  .goods-of-week__label {
    padding: 0px 25px;
    width: 175px;
    box-sizing: border-box;
  }
  .goods-of-week__desc-block {
    padding: 180px 58px 0 175px;
  }
  .goods-of-week__table-spec {
    margin-top: 49px;
  }
  .goods-of-week__image {
    margin-top: 70px;
    height: 636px;
  }
}
.about-us {
  width: 260px;
  margin: 0 auto;
  padding: 34px 0 0 0;
}
.about-us__header {
  margin: 0px;
  font-size: 25px;
  line-height: 30px;
  margin-left: -2px;
}
.about-us__list {
  margin: 0;
  margin-top: 28px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
}
.about-us__item {
  position: relative;
  padding-top: 58px;
  min-height: 100px;
  box-sizing: border-box;
  margin-bottom: 23px;
}
.about-us__item::before {
  content: "";
  position: absolute;
}
.about-us__item--flower::before {
  top: 3px;
  left: 8px;
  width: 32px;
  height: 37px;
  background: rgba(255, 0, 255, 0.3);
}
.about-us__item--banknote::before {
  top: 5px;
  left: 0px;
  width: 47px;
  height: 27px;
  background: rgba(255, 0, 255, 0.3);
}
.about-us__item--heart::before {
  top: 10px;
  left: 7px;
  width: 34px;
  height: 27px;
  background: rgba(255, 0, 255, 0.3);
}
.about-us__item--ball::before {
  top: 7px;
  left: 3px;
  width: 35px;
  height: 34px;
  background: rgba(255, 0, 255, 0.3);
}
.about-us__item--rocket::before {
  top: 8px;
  left: -6px;
  width: 55px;
  height: 23px;
  background: rgba(255, 0, 255, 0.3);
}
.about-us__item--gift::before {
  top: 6px;
  left: 3px;
  width: 33px;
  height: 32px;
  background: rgba(255, 0, 255, 0.3);
}
@media (min-width: 768px) {
  .about-us {
    width: 668px;
  }
  .about-us__header {
    margin-top: 32px;
    margin-left: -4px;
    font-size: 43px;
    line-height: 50px;
  }
  .about-us__list {
    margin-top: 45px;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 20px;
    line-height: 22px;
  }
  .about-us__item {
    width: 50%;
    margin-bottom: 53px;
  }
  .about-us__item--flower {
    order: 1;
  }
  .about-us__item--banknote {
    order: 3;
  }
  .about-us__item--heart {
    order: 5;
  }
  .about-us__item--ball {
    order: 2;
  }
  .about-us__item--rocket {
    order: 4;
  }
  .about-us__item--gift {
    order: 6;
  }
}
@media (min-width: 1200px) {
  .about-us {
    width: 700px;
  }
  .about-us__header {
    margin-top: 69px;
    font-size: 53px;
    line-height: 57px;
  }
}
.reviews {
  width: 260px;
  margin: 0 auto 36px auto;
  padding: 30px 0 0 0;
}
.reviews__header {
  margin: 0;
  margin-left: -2px;
  padding: 0;
  font-size: 25px;
  line-height: 30px;
}
.reviews__item {
  margin: 24px 0 0 0;
  padding: 0;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}
.reviews__item-author {
  margin: 27px 0 0 0;
  display: block;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}
.reviews__author-link {
  display: inline-block;
  margin: 5px 0 0 0;
  font-weight: 400;
  color: #444444;
  text-decoration: none;
}
.reviews__author-link:hover,
.reviews__author-link:focus {
  color: #46c1ae;
  border-bottom: 1px solid #62d1ba;
}
.reviews__author-link:active {
  border-bottom: 1px solid #62d1ba;
  opacity: 0.3;
}
.reviews__nav {
  margin: 33px 0 0 0;
  padding: 0;
  display: flex;
}
.reviews__nav-prev,
.reviews__nav-next {
  display: inline-block;
  height: 51px;
  width: 50%;
  border: 1px solid #ececec;
  box-sizing: border-box;
  font-size: 0px;
  position: relative;
  background: none;
}
.reviews__nav-prev {
  border-right: none;
}
.reviews__arrow-icon {
  width: 50px;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #000000;
}
.reviews__nav-prev > .reviews__arrow-icon::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 4px;
  -webkit-transform: translate(-29px, -5px) rotate(-45deg);
          transform: translate(-29px, -5px) rotate(-45deg);
  background: #000000;
}
.reviews__nav-prev > .reviews__arrow-icon::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 4px;
  -webkit-transform: translate(-29px, 5px) rotate(45deg);
          transform: translate(-29px, 5px) rotate(45deg);
  background: #000000;
}
.reviews__nav-next > .reviews__arrow-icon::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 4px;
  -webkit-transform: translate(11px, -5px) rotate(45deg);
          transform: translate(11px, -5px) rotate(45deg);
  background: #000000;
}
.reviews__nav-next > .reviews__arrow-icon::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 4px;
  -webkit-transform: translate(11px, 5px) rotate(-45deg);
          transform: translate(11px, 5px) rotate(-45deg);
  background: #000000;
}
.reviews__nav-prev:hover > .reviews__arrow-icon,
.reviews__nav-prev:focus > .reviews__arrow-icon,
.reviews__nav-next:hover > .reviews__arrow-icon,
.reviews__nav-next:focus > .reviews__arrow-icon {
  opacity: 0.6;
}
.reviews__nav-prev:active > .reviews__arrow-icon,
.reviews__nav-next:active > .reviews__arrow-icon {
  opacity: 0.3;
}
.reviews__send-button {
  margin: 39px 0 0 0;
}
.reviews__send-button > button {
  font-size: 18px;
}
@media (min-width: 768px) {
  .reviews {
    width: 768px;
    min-height: 457px;
    margin-top: 30px;
    padding: 76px 50px 0 50px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: linear-gradient(to right, rgba(255, 255, 0, 0.3), rgba(255, 255, 0, 0.3) 350px, #ffffff 350px);
  }
  .reviews__header {
    margin-left: -5px;
    font-size: 43px;
    line-height: 50px;
    width: 100%;
  }
  .reviews__item {
    width: 100%;
    margin: 50px 0 0 0;
    padding: 0;
    font-size: 17px;
    line-height: 30px;
  }
  .reviews__item-author {
    padding-top: 30px;
    box-sizing: border-box;
    padding-right: 370px;
    font-size: 18px;
    line-height: 24px;
  }
  .reviews__author-link {
    margin: 4px 0 0 0;
    font-size: 17px;
    line-height: 30px;
  }
  .reviews__nav {
    position: absolute;
    bottom: 50px;
    right: 58px;
    width: 160px;
  }
  .reviews__nav-prev,
  .reviews__nav-next {
    border: none;
  }
  .reviews__arrow-icon {
    width: 45px;
  }
  .reviews__send-button {
    position: absolute;
    top: 41px;
    right: 50px;
    width: 175px;
  }
}
@media (min-width: 1200px) {
  .reviews {
    width: 1050px;
    margin-top: 36px;
    padding: 70px 50px 0 175px;
  }
  .reviews__header {
    font-size: 53px;
    line-height: 57px;
  }
  .reviews__item {
    padding-right: 50px;
  }
  .reviews__item-author {
    padding-top: 12px;
    padding-right: 525px;
    font-size: 17px;
  }
  .reviews__nav {
    right: 8px;
    bottom: 98px;
  }
  .reviews__send-button {
    right: 0px;
  }
}
.button {
  display: inline-block;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 20px;
  height: 51px;
  text-transform: uppercase;
  border: 2px solid #444444;
  background: #ffffff;
  font-weight: 700;
  color: #444444;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.button:hover,
.button:focus {
  color: #ffffff;
  background: #444444;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
