.footer {
    background: #f1f1f1;
}
.footer__logo {
    display: none;
}
.footer__wrapper {
    display: flex;
    flex-direction: column;
    width: 260px;
    margin-left: auto;
    margin-right: auto;
}
.footer__social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 141px;
    min-height: 80px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    list-style-type: none;
}
.footer__social-link {
    display: block;
    font-size: 0;
    &--instagram {
        width: 22px;
        height: 21px;
        background: rgba(255, 0, 0, 0.3);
    }
    &--facebook {
        width: 15px;
        height: 28px;
        background: rgba(0, 255, 0, 0.3);
    }
    &--twitter {
        width: 23px;
        height: 20px;
        background: rgba(0, 0, 255, 0.3);
    }
}
.footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-weight: 700;
    font-size: 19px;
    line-height: 19px;
    border-top: 1px solid #e5e5e5;
    box-sizing: border-box;
}
.footer__copyright-link {
    width: 27px;
    height: 34px;
    margin-left: 30px;
    font-size: 0px;
    background: rgba(255, 0, 255, 0.3);
}

// планшет
@media (min-width: @tablet-width) {
    .footer__wrapper {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 668px;
        min-height: 143px;
    }
    .footer__logo {
        display: block;
        width: 182px;
    }
    .footer__logo-image {
        width: 102px;
        height: 34px;
        background: rgba(255, 0, 0, 0.3);
    }
    .footer__copyright { 
        width: 182px;
        border-top: none;
    }
}

// десктоп
@media (min-width: @desktop-width) {
    .footer__wrapper {
        width: 1050px;
    }
}
