// мобильная
.house {
    padding: 0;
    background-color: #f9f9f9;
    background-image: url(../../img/home-background.jpg);
    background-repeat: no-repeat;
    background-position: center -18px;
    min-height: 478px;
    background-size: 575px;
    display: flex;
    flex-direction: column;
}
.house__header {
    width: 260px;
    margin: 70px auto 0px auto;
    padding: 0 25px;
    text-align: center;
    font-size: 27px;
    line-height: 30px;
}
.house__list {
    // margin: auto 0px 0px 0px; в идеале, но не работает в IE11
    margin: 0;
    margin-top: 123px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.house__item {
    height: 103px;
    display: flex;
    justify-content: center;
    align-items: center;
    &--interior {
        background-color: #63d1bb;
    }
    &--toys {
        background-color: #56c3b2;
    }
}
.house__item--interior .house__link {
    &::before {
        content: "";
        position: absolute;
        top: -4px;
        right: 6px;
        width: 40px;
        height: 62px;
        background: rgba(255, 0, 255, 0.3);
    }
}
.house__item--toys .house__link {
    &::before {
        content: "";
        position: absolute;
        top: -6px;
        right: -4px;
        width: 60px;
        height: 60px;
        background: rgba(0, 255, 0, 0.3);
    }
}
.house__link {
    padding: 0px 130px 0px 0px;
    box-sizing: border-box;
    width: 260px;
    color: #ffffff;
    font-size: 19px;
    line-height: 24px;
    text-decoration: none;
    font-weight: 800;
    position: relative;
}

// планшет
@media (min-width: @tablet-width) {
    .house {
        min-height: 685px;
        background-size: 1150px;
        background-position: center -60px;
    }
    .house__header {
        margin-top: 93px;
        width: 668px;
        font-size: 43px;
        line-height: 50px;
    }
    .house__header .wrap { 
        white-space: normal;
    }
    .house__list {
        width: 668px;
        // margin: auto auto 0px auto; в идеале, но не работает в IE11
        margin: 374px auto 0 auto;
        flex-direction: row;

    }
    .house__item {
        height: 118px;
        &:hover {
            height: calc(118px + 5px);
            margin-top: -5px;
        }
    }
    .house__item--interior .house__link {
        &::before {
            top: 2px;
            right: 36px;
        }
    }
    .house__item--toys .house__link {
        &::before {
            top: 2px;
            right: 34px;
        }
    }
    .house__link {
        padding: 0px 167px 0px 36px; 
        width: 334px;
        font-size: 20px;
        line-height: 30px;
    }
}

// десктоп
@media (min-width: @desktop-width) {
    .house__header {
        font-size: 53px;
        line-height: 57px;
    }
    .house__list { 
        margin: 361px auto 0 auto;
        width: 1050px;
    }
    .house__link {
        padding: 0px 350px 0px 36px; 
        width: 525px;
        font-size: 20px;
        line-height: 30px;
    }
}
