// мобильная
.reviews {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
    padding-top: 30px;
}
.reviews__header {
    margin: 0;
    margin-left: -2px; // [PP]
    padding: 0;
    font-size: 25px;
    line-height: 30px;
}
.reviews__item {
    margin-top: 24px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-size: 15px;
    line-height: 30px;
    color: #444444;
}
.reviews__item-author {
    display: block;
    margin-top: 27px;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
}
.reviews__author-link {
    display: inline-block;
    margin-top: 5px;
    font-weight: 400;
    text-decoration: none;
    color: #444444;
    // border-bottom: 1px solid #62d1ba; в GL не определено
    &:hover,
    &:focus {
        color: #46c1ae;
        border-bottom: 1px solid #62d1ba;
    }
    &:active {
        border-bottom: 1px solid #62d1ba;
        opacity: 0.3;
    }
}
.reviews__nav {
    display: flex;
    margin-top: 33px;
    padding: 0;
}
.reviews__nav-prev,
.reviews__nav-next {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 51px;
    font-size: 0px;
    background: none;
    border: 1px solid #ececec;
    box-sizing: border-box;
}
.reviews__nav-prev {
    border-right: none;
}
.reviews__arrow-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 4px;
    background: #000000;
    transform: translate(-50%, -50%);
}
.reviews__nav-prev > .reviews__arrow-icon {
    &::before {
        content: "";
        position: absolute;
        width: 18px;
        height: 4px;
        background: #000000;
        transform: translate(-29px, -5px) rotate(-45deg);
    }
    &::after {
        content: "";
        position: absolute;
        width: 18px;
        height: 4px;
        background: #000000;
        transform: translate(-29px, 5px) rotate(45deg);
    }
}
.reviews__nav-next > .reviews__arrow-icon {
    &::before {
        content: "";
        position: absolute;
        width: 18px;
        height: 4px;
        background: #000000;
        transform: translate(11px, -5px) rotate(45deg);
    }
    &::after {
        content: "";
        position: absolute;
        width: 18px;
        height: 4px;
        background: #000000;
        transform: translate(11px, 5px) rotate(-45deg);
    }
}
.reviews__nav-prev:hover > .reviews__arrow-icon,
.reviews__nav-prev:focus > .reviews__arrow-icon,
.reviews__nav-next:hover > .reviews__arrow-icon, 
.reviews__nav-next:focus > .reviews__arrow-icon {
    opacity: 0.6;
}
.reviews__nav-prev:active > .reviews__arrow-icon,
.reviews__nav-next:active > .reviews__arrow-icon {
    opacity: 0.3;
}
.reviews__send-button {
    margin-top: 39px;
}
.reviews__send-button > button {
    font-size: 18px;
}

// планшет
@media (min-width: @tablet-width) {
    .reviews {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        width: 768px;
        min-height: 457px;
        margin-top: 30px;
        padding-top: 76px;
        padding-left: 50px;
        padding-right: 50px;
        background-image: linear-gradient(
            to right,
            rgba(255,255,0,0.3),
            rgba(255,255,0,0.3) 350px,
            #ffffff 350px
        );
        box-sizing: border-box;
    }
    .reviews__header {
        width: 100%;
        margin-left: -5px;
        font-size: 43px;
        line-height: 50px;
    }
    .reviews__item {
        width: 100%;
        margin-top: 50px;
        padding: 0;
        font-size: 17px;
        line-height: 30px;
    }
    .reviews__item-author {
        padding-top: 30px;
        padding-right: 370px;
        font-size: 18px;
        line-height: 24px;
        box-sizing: border-box;
    }
    .reviews__author-link {
        margin-top: 4px;
        font-size: 17px;
        line-height: 30px;
    }
    .reviews__nav {
        position: absolute;
        right: 58px;
        bottom: 50px;
        width: 160px;
    }
    .reviews__nav-prev, 
    .reviews__nav-next {
        border: none;
    }
    .reviews__arrow-icon {
        width: 45px;
    }
    .reviews__send-button {
        position: absolute;
        top: 41px;
        right: 50px;
        width: 175px;
    }
}

// десктоп
@media (min-width: @desktop-width) {
    .reviews {
        width: 1050px;
        margin-top: 36px;
        padding-top: 70px;
        padding-left: 175px;
        padding-right: 50px;
    }
    .reviews__header {
        font-size: 53px;
        line-height: 57px;
    }
    .reviews__item {
        padding-right: 50px;
    }
    .reviews__item-author {
        padding-top: 12px;
        padding-right: 525px;
        font-size: 17px;
    }
    .reviews__nav {
        right: 8px;
        bottom: 98px;
    }
    .reviews__send-button {
        right: 0px;
    }
}
